{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
    {# １つ目のセクション（エンジニア集会所とは？） #}
        <div class="first-section">
            <h2 class="title">プログラミングを学習で以下のような悩みはありませんか？</h2>
            <div class="list-item">
                <ul>
                    <li>身近にプログラミング仲間が欲しい！</li>
                    <li>規模が大きいアプリを作ってみたい！</li>
                    <li>エンジニアから色々な話を聞きたい！</li>
                </ul>
            </div>

            <div class="sub-title">
                <p>これらの問題が解決できる場所。</p>
                <h3>「エンジニア集会場」</h3>
            </div>


            <div class="text-contents">
                <p>現役エンジニアの方や駆け出しエンジニアの方が約３０名ほど参加されています。</p>
                <p>またHTML、CSSを始めPython,Ruby,C,C++,Flutter(Dart)など幅広く色々な言語を扱えるエンジニアが揃っております。<br>
                    ※このオンラインサロンは参加するとフリータンスになれて稼ぐことが可能になる場所ではございませんので予めご了承ください。
                </p>
            </div>
        </div>

        {# ２つ目のセクション（参加することでできること） #}
        <div class="second-section">
            <h2>参加することでできることは？</h2>
            <div class="card-deck">
                <div class="card app-dev">
                    <p>多人数でのアプリ開発</p>
                    <p>test test test test test test test
                        test test test test test test test
                        test test test test test test test </p>
                </div>
                <div class="card friends">
                    <p>身近な場所に仲間を作れる</p>
                    <p>test test test test test test test
                        test test test test test test test
                        test test test test test test test </p>
                </div>
                <div class="card question">
                    <p>プログラミングに関する質問</p>
                    <p>test test test test test test test
                        test test test test test test test
                        test test test test test test test </p>
                </div>
            </div>
        </div>
        {# 3つ目のセクション（） #}
        <div class="third-section">
            <h2>実績のある開催イベント</h2>
            <h3>もくもく会</h3>
            <p>text</p>

            <h3>ハッカソン</h3>
            <p>text</p>
            <h2>今後予定しているイベント</h2>
            <h3>オフ会</h3>
            <p>
                このサロンは２人で運営しており、東京と大阪に在住しております。そのため、２箇所での開催を予定しております。<br>
                その他の場所につきましては希望があれば開催いたします。
            </p>

        </div>
        {# 4つ目のセクション（料金） #}
        <div class="fourth-section">
            <h2>料金について</h2>
            <p>月額980円(税込み)</p>
            <p>１ヶ月980円で現役エンジニアと話す機会や色々な人のアウトプットを自分のものにできます！</p>
            <p>その他にもAmazonギフト券がもらえるハッカソンに参加出来たりメンバーと技術情報のやり取り等、密に行うことが可能です。<br>
            アプリ開発に協力してくれるメンバー集めもこの場所ではできるのでお得です！
            </p>
        </div>
    </div>

{% endblock %}